<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">

  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <hr>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <hr>
    <p>Content © 2026 Sourangshu Ghosh · CC BY 4.0 · Code MIT</p>
  </footer>
</body>
</html>
